@media (max-width: 1039px) {
    body {
        width: 95%;
        margin: auto;
    }

    header {
        .m-logo {
            height: 40px;
            width: auto;
        }
    }
    nav {
        ul {
            width: 100%;
            li {
                padding: 7px 14px;
                font-size: 13px;
            }
        }
    }
    main {
        width: 100%;
        .roller {
            width: 100%;
            height: auto;
            .content {
                width: 35%;
                height: auto;
            }
            .image-slot {
                width: 65%;
                height: 100%;
                .roller-slot {
                    width: 100%;
                    height: inherit;
                }
            }
        }
        .section-2 {
            & > div {
                h2 {
                    font-size: 24px;
                }
            }
        }
        .section-3 {
            .students, .pub, .media {
                width: 33%;
                h2 {
                    font-size: 28px;
                    padding: 6px 0px 0px 6px;
                    width: 98%;
                    margin-right: 12px;
                    @media (max-width: 825px) {
                        font-size: 20px;
                    }
                }
                img {
                    width: 100px;
                    height: auto;
                    top: -26px;
                }
            }
        }
    }
    footer {
        width: 100%;
    }
}
