@media (max-width: 1039px) {
    body {
        margin: auto;
    }
    header {
        .m-header {
            width: 95%;
            margin: auto;
            .m-logo {
                height: 40px;
                width: auto;
            }
        }
    }
    nav {
        .m-nav {
            width: 95%;
            margin: auto;
            ul {
                width: 100%;
                li {
                    padding: 7px 14px;
                    font-size: 13px;
                }
            }
        }
    }
    main {
        .m-main {
            width: 95%;
            margin: auto;
            .roller {
                width: 100%;
                height: auto;
                .content {
                    width: 35%;
                    p {
                        font-size: 14px;
                    }
                }
                .image-slot {
                    width: 65%;
                    background-image: url("../images/DSC_0266.jpeg");
                    background-size: 171%;
                    background-position: center;
                    .roller-slot {
                        display: none;
                    }
                }
            }
            .section-2 {
                & > div {
                    h2 {
                        font-size: 24px;
                    }
                }
            }
            .section-3 {
                .students,
                .pub,
                .media {
                    width: 33%;
                    h2 {
                        font-size: 28px;
                        padding: 6px 0 0 6px;
                        width: 98%;
                        margin-right: 12px;
                        @media (max-width: 825px) {
                            font-size: 20px;
                        }
                    }
                    img {
                        width: 100px;
                        height: auto;
                        top: -26px;
                    }
                }
            }
        }
    }
    footer {
        .m-footer {
            width: 95%;
            margin: auto;
        }
    }
}
