@font-face {
  font-family: 'calibri';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/calibri/calibri.ttf");
}

@font-face {
  font-family: 'calibri';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/calibri/calibrib.ttf");
}

@font-face {
  font-family: 'calibri';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/calibri/calibrii.ttf");
}

@font-face {
  font-family: 'calibri';
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/calibri/calibriz.ttf");
}
