@font-face {
  font-family: 'calibri';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/calibri/calibri.ttf");
}

@font-face {
  font-family: 'calibri';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/calibri/calibrib.ttf");
}

@font-face {
  font-family: 'calibri';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/calibri/calibrii.ttf");
}

@font-face {
  font-family: 'calibri';
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/calibri/calibriz.ttf");
}

@font-face {
  font-family: 'georgia';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Georgia/georgia.ttf");
}

@font-face {
  font-family: 'georgia';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Georgia/georgiab.ttf");
}

@font-face {
  font-family: 'georgia';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/Georgia/georgiai.ttf");
}

@font-face {
  font-family: 'georgia';
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/Georgia/georgiaz.ttf");
}

@font-face {
  font-family: 'Helvetica';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Helvetica/helvetica-neue1.ttf");
}

@font-face {
  font-family: 'Helvetica';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Helvetica/Helvetica-neue-bold.ttf");
}

@font-face {
  font-family: 'Helvetica';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/Helvetica/HelveticaNeueLightItalic.ttf");
}
