@media (max-width: 725px) {
  /* line 3, ../sass/media_mobile.scss */
  header .m-logo {
    height: 41px;
    width: auto;
    padding: 11px 0 0;
  }
  /* line 8, ../sass/media_mobile.scss */
  header ul {
    display: none;
  }
  /* line 11, ../sass/media_mobile.scss */
  header .search-bar {
    top: 13px;
    border: none;
  }
  /* line 14, ../sass/media_mobile.scss */
  header .search-bar input[type=text] {
    display: none;
  }

  /* line 19, ../sass/media_mobile.scss */
  nav {
    display: none;
  }

  /* line 23, ../sass/media_mobile.scss */
  main .roller {
    flex-direction: column;
  }
  /* line 25, ../sass/media_mobile.scss */
  main .roller .content {
    width: 100%;
  }
  /* line 28, ../sass/media_mobile.scss */
  main .roller .image-slot {
    width: 100%;
  }
  /* line 32, ../sass/media_mobile.scss */
  main .section-1 {
    flex-direction: column;
  }
  /* line 34, ../sass/media_mobile.scss */
  main .section-1 div {
    width: 100%;
  }
  /* line 37, ../sass/media_mobile.scss */
  main .section-1 div ul > li:last-child {
    display: none;
  }
}
