/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 4, ../sass/print.scss */
body {
  width: 1024px;
  margin: auto;
  overflow-x: hidden;
}

/* line 11, ../sass/print.scss */
header .m-logo {
  height: 55px;
  width: auto;
  padding: 20px 0 0;
}
/* line 16, ../sass/print.scss */
header ul {
  text-align: right;
  font-family: 'calibri', serif;
}
/* line 19, ../sass/print.scss */
header ul li {
  text-transform: uppercase;
  font-size: 12px;
  color: #686868;
  display: inline-block;
}
/* line 24, ../sass/print.scss */
header ul li:hover {
  cursor: pointer;
}
/* line 28, ../sass/print.scss */
header ul > li:not(:last-child) {
  border-right: 1px solid #686868;
  padding: 0 8px;
}
/* line 33, ../sass/print.scss */
header .search-bar {
  float: right;
  position: relative;
  top: -72px;
  padding: 4px;
  border: 1px solid #DDDDDD;
  border-radius: 24px;
}
/* line 40, ../sass/print.scss */
header .search-bar input:focus {
  outline: 0;
}
/* line 43, ../sass/print.scss */
header .search-bar .text {
  border: none;
  border-style: none;
  border-color: transparent;
  padding: 4px;
}
/* line 49, ../sass/print.scss */
header .search-bar .button {
  background-image: url("../images/search_icon.png");
  background-color: #fff;
  border: none;
  position: relative;
  width: 24px;
  left: -4px;
  top: 3px;
}
/* line 57, ../sass/print.scss */
header .search-bar .button:hover {
  cursor: pointer;
}

/* line 65, ../sass/print.scss */
nav ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: 'calibri', serif;
  width: 100%;
  background-image: linear-gradient(180deg, #717171, #2c2c2c);
}
/* line 72, ../sass/print.scss */
nav ul li {
  padding: 10px 17px;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  border-right: 1px solid #fff;
}
/* line 79, ../sass/print.scss */
nav ul li a {
  text-decoration: none;
  color: white;
}
/* line 83, ../sass/print.scss */
nav ul li:hover {
  background: #202020;
  cursor: pointer;
}
/* line 87, ../sass/print.scss */
nav ul li .dropdown {
  display: none;
  z-index: 999;
  background: #323232;
}
/* line 91, ../sass/print.scss */
nav ul li .dropdown li {
  display: block;
}

/* line 100, ../sass/print.scss */
main .roller {
  position: relative;
  width: 1024px;
  height: 435px;
  margin-top: 6px;
  display: flex;
  flex-direction: row-reverse;
}
/* line 107, ../sass/print.scss */
main .roller .content {
  background: linear-gradient(135deg, #077ff8, #0f9fff);
  width: 40%;
  height: 423px;
  float: left;
  color: #fefefe;
  margin-right: 2px;
  line-height: 1.4;
}
/* line 115, ../sass/print.scss */
main .roller .content h2 {
  font-size: 33px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  text-shadow: 2px 2px #555;
  padding: 50px 0px 13px 12px;
}
/* line 122, ../sass/print.scss */
main .roller .content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 5px 12px;
}
/* line 127, ../sass/print.scss */
main .roller .content a {
  color: #fff;
  padding: 15px 12px;
}
/* line 131, ../sass/print.scss */
main .roller .content .banner {
  display: block;
  padding: 15px 12px;
}
/* line 136, ../sass/print.scss */
main .roller .image-slot {
  width: 60%;
  height: 423px;
  position: relative;
}
/* line 140, ../sass/print.scss */
main .roller .image-slot .roller-slot {
  width: 100%;
  height: 423px;
}
/* line 146, ../sass/print.scss */
main .about {
  font-family: calibri;
  width: 70%;
  line-height: 1.4;
  color: #5F5F5F;
  padding-top: 20px;
}
/* line 152, ../sass/print.scss */
main .about h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 34px;
  color: #FF4450;
}
/* line 157, ../sass/print.scss */
main .about p {
  padding-bottom: 20px;
}
/* line 161, ../sass/print.scss */
main aside {
  font-family: calibri;
  width: 25%;
  float: right;
  font-size: 21px;
  padding-top: 20px;
  color: #0A89FA;
}
/* line 169, ../sass/print.scss */
main aside ul li {
  padding: 15px 15px;
  border-top: 1px solid #D5CECA;
}
/* line 173, ../sass/print.scss */
main aside ul li:last-child {
  border-bottom: 1px solid #D5CECA;
}
/* line 176, ../sass/print.scss */
main aside ul .active {
  color: #F1715E;
}
/* line 179, ../sass/print.scss */
main aside ul li:hover {
  cursor: pointer;
}
/* line 184, ../sass/print.scss */
main .section-1 {
  height: 520px;
  display: flex;
  flex-direction: row;
}
/* line 188, ../sass/print.scss */
main .section-1 .grey-bar {
  position: relative;
  top: -28px;
  display: inline;
  background-color: #EDEDED;
  height: 10px;
  float: right;
  width: 67%;
}
/* line 197, ../sass/print.scss */
main .section-1 div {
  position: relative;
  width: 30%;
  margin-right: 5%;
  float: left;
}
/* line 203, ../sass/print.scss */
main .section-1 div h2 {
  font-family: calibri;
  font-weight: bold;
  color: #191b1b;
  font-size: 27px;
  padding: 10px 0px;
}
/* line 211, ../sass/print.scss */
main .section-1 div ul li {
  line-height: 1.4;
  padding-top: 15px;
}
/* line 214, ../sass/print.scss */
main .section-1 div ul li img {
  border-radius: 3px;
  width: 100%;
  height: auto;
}
/* line 219, ../sass/print.scss */
main .section-1 div ul li .small-icon {
  display: inline;
  width: 15px;
  height: auto;
}
/* line 224, ../sass/print.scss */
main .section-1 div ul li .date {
  font-family: georgia;
  margin-left: 20px;
  font-style: italic;
  font-size: 14px;
  color: #888;
}
/* line 231, ../sass/print.scss */
main .section-1 div ul li p {
  font-size: 15px;
  font-family: calibri;
  font-style: italic;
  color: #555;
}
/* line 238, ../sass/print.scss */
main .section-1 div ul > li:nth-child(2) {
  padding-bottom: 10px;
  border-bottom: 1px solid #888;
}
/* line 242, ../sass/print.scss */
main .section-1 div ul > li:last-child {
  text-align: right;
  font-family: calibri;
  font-style: italic;
  font-size: 14px;
  color: #ff6c00;
}
/* line 251, ../sass/print.scss */
main .section-1 .features {
  margin: 0px;
}
/* line 254, ../sass/print.scss */
main .section-1 .viewAll {
  text-align: right;
}
/* line 256, ../sass/print.scss */
main .section-1 .viewAll img {
  display: inline;
  width: 15px;
  height: auto;
}
/* line 263, ../sass/print.scss */
main .section-2 {
  padding-top: 15px;
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: row;
}
/* line 270, ../sass/print.scss */
main .section-2 .alert h2 {
  background-image: url("../images/alert_ico.png");
  background-repeat: no-repeat;
  background-position: 8px 13px;
}
/* line 277, ../sass/print.scss */
main .section-2 .tv h2 {
  background-image: url("../images/testimonials_ico.png");
  background-repeat: no-repeat;
  background-position: 8px 13px;
}
/* line 284, ../sass/print.scss */
main .section-2 .learn h2 {
  background-image: url("../images/learnworkshop_ico.png");
  background-repeat: no-repeat;
  background-position: 8px 13px;
}
/* line 290, ../sass/print.scss */
main .section-2 > div {
  background-color: #0F9FFF;
  position: relative;
  border-radius: 5px;
  width: 329px;
  margin-right: 18px;
}
/* line 298, ../sass/print.scss */
main .section-2 > div h2 {
  font-family: calibri;
  color: #fff;
  font-size: 27px;
  padding: 14px 39px;
}
/* line 304, ../sass/print.scss */
main .section-2 > div ul {
  width: 100%;
}
/* line 306, ../sass/print.scss */
main .section-2 > div ul li {
  background-color: #0096EA;
  margin: 10px 5px;
  padding: 5px 1px;
  border-radius: 5px;
  box-shadow: inset 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
}
/* line 312, ../sass/print.scss */
main .section-2 > div ul li .in-content {
  display: inline-block;
}
/* line 314, ../sass/print.scss */
main .section-2 > div ul li .in-content h3 {
  font-size: 14px;
  font-family: georgia;
  color: #fcfee9;
  font-style: italic;
  font-weight: bold;
  padding-left: 95px;
  padding-bottom: 10px;
}
/* line 323, ../sass/print.scss */
main .section-2 > div ul li .in-content img {
  width: 83px;
  height: 83px;
  float: left;
}
/* line 328, ../sass/print.scss */
main .section-2 > div ul li .in-content p {
  font-family: Helvetica;
  font-size: 12px;
  padding-left: 95px;
  color: #fff;
}
/* line 338, ../sass/print.scss */
main .section-2 > div:last-child {
  margin-right: 0px;
}
/* line 341, ../sass/print.scss */
main .section-2 > div:nth-of-type(2) {
  background-color: #0576F6;
}
/* line 345, ../sass/print.scss */
main .section-3 {
  display: flex;
  flex-direction: row;
  padding-top: 45px;
  color: #fff;
}
/* line 350, ../sass/print.scss */
main .section-3 .students, main .section-3 .pub, main .section-3 .media {
  height: 123px;
  width: 33%;
  margin-right: 8px;
}
/* line 354, ../sass/print.scss */
main .section-3 .students img, main .section-3 .pub img, main .section-3 .media img {
  float: right;
  position: relative;
  top: -50px;
  right: 11px;
}
/* line 360, ../sass/print.scss */
main .section-3 .students h2, main .section-3 .pub h2, main .section-3 .media h2 {
  font-family: calibri;
  font-weight: bold;
  font-size: 36px;
  padding: 10px 0px 0px 8px;
  height: 101px;
  width: 323px;
  margin-right: 12px;
  border-radius: 5px;
}
/* line 371, ../sass/print.scss */
main .section-3 .students h2 {
  background-color: #FF9500;
}
/* line 375, ../sass/print.scss */
main .section-3 .pub h2 {
  background-color: #EE4400;
}
/* line 378, ../sass/print.scss */
main .section-3 .pub img {
  width: 137px;
  top: -28px;
}
/* line 384, ../sass/print.scss */
main .section-3 .media h2 {
  background-color: #00C0F0;
}

/* line 393, ../sass/print.scss */
footer {
  width: 1024px;
  height: 252px;
  background-color: #262626;
  color: #fff;
  padding: 30px 0px;
  padding-bottom: 0px;
  line-height: 1.4;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}
/* line 405, ../sass/print.scss */
footer > ul {
  width: 98%;
  height: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
}
/* line 411, ../sass/print.scss */
footer > ul > li {
  width: 24%;
  padding-right: 40px;
  font-family: calibri;
  font-style: italic;
  font-size: 15px;
}
/* line 417, ../sass/print.scss */
footer > ul > li h3 {
  font-family: calibri;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 20px;
}
/* line 424, ../sass/print.scss */
footer > ul > li b {
  font-weight: bold;
}
/* line 427, ../sass/print.scss */
footer > ul > li a {
  text-decoration: none;
  color: #CE7E32;
}
/* line 431, ../sass/print.scss */
footer > ul > li ul {
  list-style: disc;
}
/* line 435, ../sass/print.scss */
footer > ul > li:last-child {
  padding-right: 0px;
}
/* line 438, ../sass/print.scss */
footer > ul > li:nth-child(3) {
  font-style: normal;
}
/* line 442, ../sass/print.scss */
footer > ul > li:nth-child(4) b {
  font-style: normal;
}
/* line 447, ../sass/print.scss */
footer .cc {
  position: relative;
  padding: 22px 0px;
  background-color: #161616;
}
/* line 451, ../sass/print.scss */
footer .cc ul {
  display: flex;
  flex-direction: row;
  float: right;
}
/* line 455, ../sass/print.scss */
footer .cc ul li {
  font-family: calibri;
  padding: 0px 10px;
  font-size: 13px;
}
/* line 461, ../sass/print.scss */
footer .cc p {
  font-size: 13px;
}
