/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 4, ../sass/print.scss */
body {
  margin: auto;
  overflow-x: hidden;
}

/* line 8, ../sass/print.scss */
header {
  width: 100%;
}
/* line 10, ../sass/print.scss */
header .m-header {
  width: 80%;
  margin: auto;
}
/* line 13, ../sass/print.scss */
header .m-header .m-logo {
  height: 55px;
  width: auto;
  padding: 20px 0 0;
}
/* line 18, ../sass/print.scss */
header .m-header .menu-button {
  display: none;
}
/* line 21, ../sass/print.scss */
header .m-header ul {
  text-align: right;
  font-family: 'calibri', serif;
  padding-bottom: 8px;
}
/* line 25, ../sass/print.scss */
header .m-header ul li {
  text-transform: uppercase;
  font-size: 12px;
  color: #686868;
  display: inline-block;
}
/* line 30, ../sass/print.scss */
header .m-header ul li:hover {
  cursor: pointer;
}
/* line 34, ../sass/print.scss */
header .m-header ul > li:not(:last-child) {
  border-right: 1px solid #686868;
  padding: 0 8px;
}
/* line 38, ../sass/print.scss */
header .m-header ul > li:first-child {
  padding: 0;
  border: none;
}
/* line 41, ../sass/print.scss */
header .m-header ul > li:first-child .social-icon {
  position: relative;
  top: 11px;
  display: flex;
  flex-direction: row;
}
/* line 46, ../sass/print.scss */
header .m-header ul > li:first-child .social-icon > li {
  padding: 0;
  overflow: hidden;
  background: url("../images/socialIcon_top.png") no-repeat scroll right center transparent;
  width: 32px;
  height: 30px;
  border: none;
}
/* line 54, ../sass/print.scss */
header .m-header ul > li:first-child .social-icon li:nth-child(1) {
  background-position: 0 0;
}
/* line 57, ../sass/print.scss */
header .m-header ul > li:first-child .social-icon li:nth-child(2) {
  background-position: -31px 0;
}
/* line 60, ../sass/print.scss */
header .m-header ul > li:first-child .social-icon li:nth-child(3) {
  background-position: -63px 0;
}
/* line 63, ../sass/print.scss */
header .m-header ul > li:first-child .social-icon li:nth-child(4) {
  background-position: -96px 0;
}
/* line 66, ../sass/print.scss */
header .m-header ul > li:first-child .social-icon li:hover {
  cursor: pointer;
  background-position-y: -29px;
}
/* line 73, ../sass/print.scss */
header .m-header .search-bar {
  float: right;
  padding: 4px;
  margin-top: 19px;
  border: 1px solid #ddd;
  border-radius: 24px;
}
/* line 79, ../sass/print.scss */
header .m-header .search-bar input:focus {
  outline: 0;
}
/* line 82, ../sass/print.scss */
header .m-header .search-bar .text {
  border: none;
  border-style: none;
  border-color: transparent;
  padding: 4px;
}
/* line 88, ../sass/print.scss */
header .m-header .search-bar .button {
  background-image: url("../images/search_icon.png");
  background-repeat: no-repeat;
  background-color: #fff;
  border: none;
  position: relative;
  width: 24px;
  left: -4px;
  top: 3px;
}
/* line 97, ../sass/print.scss */
header .m-header .search-bar .button:hover {
  cursor: pointer;
}

/* line 104, ../sass/print.scss */
nav {
  width: 100%;
}
/* line 106, ../sass/print.scss */
nav .m-nav {
  width: 80%;
  margin: auto;
}
/* line 109, ../sass/print.scss */
nav .m-nav ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: 'calibri', serif;
  width: 100%;
  background-image: linear-gradient(180deg, #717171, #2c2c2c);
}
/* line 116, ../sass/print.scss */
nav .m-nav ul li {
  padding: 10px 17px;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  border-right: 1px solid #fff;
}
/* line 122, ../sass/print.scss */
nav .m-nav ul li a {
  text-decoration: none;
  color: #fff;
}
/* line 126, ../sass/print.scss */
nav .m-nav ul li:hover {
  background: #202020;
  cursor: pointer;
}
/* line 130, ../sass/print.scss */
nav .m-nav ul li .dropdown {
  display: none;
  z-index: 999;
  background: #323232;
}
/* line 136, ../sass/print.scss */
nav .m-nav ul > li:first-child:hover {
  position: relative;
}
/* line 138, ../sass/print.scss */
nav .m-nav ul > li:first-child:hover .dropdown {
  width: 200%;
  display: flex;
  text-align: left;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
}
/* line 147, ../sass/print.scss */
nav .m-nav ul > li:first-child:hover .dropdown li {
  width: 95%;
  border: none;
  padding: 10px 5px;
}

/* line 157, ../sass/print.scss */
main {
  width: 100%;
}
/* line 159, ../sass/print.scss */
main .m-main {
  width: 80%;
  margin: auto;
}
/* line 162, ../sass/print.scss */
main .m-main .roller {
  position: relative;
  height: 435px;
  margin-top: 6px;
  display: flex;
  flex-direction: row-reverse;
}
/* line 168, ../sass/print.scss */
main .m-main .roller .content {
  background: linear-gradient(135deg, #077ff8, #0f9fff);
  width: 40%;
  height: 423px;
  float: left;
  color: #fefefe;
  margin-right: 2px;
  line-height: 1.4;
}
/* line 176, ../sass/print.scss */
main .m-main .roller .content h2 {
  font-size: 33px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  text-shadow: 2px 2px #555;
  padding: 50px 0 13px 12px;
}
/* line 183, ../sass/print.scss */
main .m-main .roller .content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 5px 12px;
}
/* line 188, ../sass/print.scss */
main .m-main .roller .content a {
  color: #fff;
  padding: 15px 12px;
}
/* line 192, ../sass/print.scss */
main .m-main .roller .content .banner {
  display: block;
  padding: 15px 12px;
}
/* line 197, ../sass/print.scss */
main .m-main .roller .image-slot {
  width: 60%;
  height: 423px;
  position: relative;
}
/* line 201, ../sass/print.scss */
main .m-main .roller .image-slot .roller-slot {
  width: 100%;
  height: 423px;
}
/* line 207, ../sass/print.scss */
main .m-main .about {
  font-family: calibri;
  width: 70%;
  line-height: 1.4;
  color: #5f5f5f;
  padding-top: 20px;
}
/* line 213, ../sass/print.scss */
main .m-main .about h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 34px;
  color: #ff4450;
}
/* line 218, ../sass/print.scss */
main .m-main .about p {
  padding-bottom: 20px;
}
/* line 222, ../sass/print.scss */
main .m-main aside {
  font-family: calibri;
  width: 25%;
  float: right;
  font-size: 21px;
  padding-top: 20px;
  color: #0a89fa;
}
/* line 230, ../sass/print.scss */
main .m-main aside ul li {
  padding: 15px;
  border-top: 1px solid #d5ceca;
}
/* line 234, ../sass/print.scss */
main .m-main aside ul li:last-child {
  border-bottom: 1px solid #d5ceca;
}
/* line 237, ../sass/print.scss */
main .m-main aside ul .active {
  color: #f1715e;
}
/* line 240, ../sass/print.scss */
main .m-main aside ul li:hover {
  cursor: pointer;
}
/* line 245, ../sass/print.scss */
main .m-main .section-1 {
  height: 520px;
  display: flex;
  flex-direction: row;
}
/* line 249, ../sass/print.scss */
main .m-main .section-1 .grey-bar {
  position: relative;
  top: -28px;
  display: inline;
  background-color: #ededed;
  height: 10px;
  float: right;
  width: 67%;
}
/* line 258, ../sass/print.scss */
main .m-main .section-1 div {
  position: relative;
  width: 30%;
  margin-right: 5%;
  float: left;
}
/* line 265, ../sass/print.scss */
main .m-main .section-1 div h2 {
  font-family: calibri;
  font-weight: bold;
  color: #191b1b;
  font-size: 27px;
  padding: 10px 0;
}
/* line 273, ../sass/print.scss */
main .m-main .section-1 div ul li {
  line-height: 1.4;
  padding-top: 15px;
}
/* line 276, ../sass/print.scss */
main .m-main .section-1 div ul li img {
  border-radius: 3px;
  width: 100%;
  height: auto;
}
/* line 281, ../sass/print.scss */
main .m-main .section-1 div ul li .small-icon {
  display: inline;
  width: 15px;
  height: auto;
}
/* line 286, ../sass/print.scss */
main .m-main .section-1 div ul li .date {
  font-family: georgia;
  margin-left: 20px;
  font-style: italic;
  font-size: 14px;
  color: #888;
}
/* line 293, ../sass/print.scss */
main .m-main .section-1 div ul li p {
  font-size: 15px;
  font-family: calibri;
  font-style: italic;
  color: #555;
}
/* line 300, ../sass/print.scss */
main .m-main .section-1 div ul > li:nth-child(2) {
  padding-bottom: 10px;
  border-bottom: 1px solid #888;
}
/* line 304, ../sass/print.scss */
main .m-main .section-1 div ul > li:last-child {
  text-align: right;
  font-family: calibri;
  font-style: italic;
  font-size: 14px;
  color: #ff6c00;
}
/* line 310, ../sass/print.scss */
main .m-main .section-1 div ul > li:last-child img {
  width: 15px;
  height: auto;
  display: inline;
}
/* line 318, ../sass/print.scss */
main .m-main .section-1 .features {
  margin: 0;
}
/* line 321, ../sass/print.scss */
main .m-main .section-1 .viewAll {
  text-align: right;
}
/* line 323, ../sass/print.scss */
main .m-main .section-1 .viewAll img {
  display: inline;
  width: 15px;
  height: auto;
}
/* line 330, ../sass/print.scss */
main .m-main .section-2 {
  padding-top: 15px;
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: row;
}
/* line 336, ../sass/print.scss */
main .m-main .section-2 .tv {
  border-top: 3px solid #4eb1fd;
}
/* line 338, ../sass/print.scss */
main .m-main .section-2 .tv h2 {
  background-image: url("../images/testimonials_ico.png");
  background-repeat: no-repeat;
  background-position: 8px 13px;
}
/* line 344, ../sass/print.scss */
main .m-main .section-2 .learn {
  border-top: 3px solid #0075cc;
}
/* line 346, ../sass/print.scss */
main .m-main .section-2 .learn h2 {
  background-image: url("../images/learnworkshop_ico.png");
  background-repeat: no-repeat;
  background-position: 8px 13px;
}
/* line 352, ../sass/print.scss */
main .m-main .section-2 > div {
  background-color: #0f9fff;
  position: relative;
  border-radius: 5px;
  width: 33%;
  margin-right: 18px;
}
/* line 362, ../sass/print.scss */
main .m-main .section-2 > div h2 {
  font-family: calibri;
  color: #fff;
  font-size: 27px;
  padding: 14px 39px;
}
/* line 368, ../sass/print.scss */
main .m-main .section-2 > div ul {
  width: 100%;
}
/* line 370, ../sass/print.scss */
main .m-main .section-2 > div ul li {
  background-color: #0096ea;
  margin: 10px 5px;
  padding: 5px 1px;
  border-radius: 5px;
  box-shadow: inset 0 0 24px 0 rgba(0, 0, 0, 0.2);
}
/* line 376, ../sass/print.scss */
main .m-main .section-2 > div ul li .in-content {
  display: inline-block;
}
/* line 378, ../sass/print.scss */
main .m-main .section-2 > div ul li .in-content h3 {
  font-size: 14px;
  font-family: georgia;
  color: #fcfee9;
  font-style: italic;
  font-weight: bold;
  padding-left: 95px;
  padding-bottom: 10px;
}
/* line 387, ../sass/print.scss */
main .m-main .section-2 > div ul li .in-content img {
  width: 83px;
  height: 83px;
  float: left;
  margin-left: 3px;
}
/* line 393, ../sass/print.scss */
main .m-main .section-2 > div ul li .in-content p {
  font-family: Helvetica;
  font-size: 12px;
  padding-left: 95px;
  color: #fff;
}
/* line 403, ../sass/print.scss */
main .m-main .section-2 .alert {
  border-top: 3px solid #0075cc;
}
/* line 405, ../sass/print.scss */
main .m-main .section-2 .alert h2 {
  background-image: url("../images/alert_ico.png");
  background-repeat: no-repeat;
  background-position: 8px 13px;
}
/* line 411, ../sass/print.scss */
main .m-main .section-2 > div:last-child {
  margin-right: 0;
}
/* line 414, ../sass/print.scss */
main .m-main .section-2 > div:nth-of-type(2) {
  background-color: #0576f6;
}
/* line 418, ../sass/print.scss */
main .m-main .section-3 {
  display: flex;
  flex-direction: row;
  padding-top: 45px;
  color: #fff;
}
/* line 425, ../sass/print.scss */
main .m-main .section-3 .students,
main .m-main .section-3 .pub,
main .m-main .section-3 .media {
  height: 123px;
  width: 33%;
  margin-right: 8px;
}
/* line 429, ../sass/print.scss */
main .m-main .section-3 .students img,
main .m-main .section-3 .pub img,
main .m-main .section-3 .media img {
  float: right;
  position: relative;
  top: -50px;
  right: 11px;
}
/* line 435, ../sass/print.scss */
main .m-main .section-3 .students h2,
main .m-main .section-3 .pub h2,
main .m-main .section-3 .media h2 {
  font-family: calibri;
  font-weight: bold;
  font-size: 36px;
  padding: 10px 0 0 8px;
  height: 101px;
  width: 100%;
  margin-right: 12px;
  border-radius: 5px;
}
/* line 446, ../sass/print.scss */
main .m-main .section-3 .students h2 {
  background-color: #ff9500;
}
/* line 450, ../sass/print.scss */
main .m-main .section-3 .pub h2 {
  background-color: #e40;
}
/* line 453, ../sass/print.scss */
main .m-main .section-3 .pub img {
  width: 137px;
  top: -28px;
}
/* line 459, ../sass/print.scss */
main .m-main .section-3 .media h2 {
  background-color: #00c0f0;
}

/* line 466, ../sass/print.scss */
footer {
  width: 100%;
  background-color: #262626;
}
/* line 469, ../sass/print.scss */
footer .m-footer {
  width: 80%;
  margin: auto;
  height: 252px;
  margin: auto;
  background-size: 100% 100%;
  color: #fff;
  padding: 30px 0;
  padding-bottom: 0;
  line-height: 1.4;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}
/* line 483, ../sass/print.scss */
footer .m-footer > ul {
  width: 98%;
  height: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
}
/* line 489, ../sass/print.scss */
footer .m-footer > ul > li {
  width: 24%;
  padding-right: 40px;
  font-family: calibri;
  font-style: italic;
  font-size: 15px;
}
/* line 495, ../sass/print.scss */
footer .m-footer > ul > li h3 {
  font-family: calibri;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 20px;
}
/* line 502, ../sass/print.scss */
footer .m-footer > ul > li b {
  font-weight: bold;
}
/* line 505, ../sass/print.scss */
footer .m-footer > ul > li a {
  text-decoration: none;
  color: #ce7e32;
}
/* line 509, ../sass/print.scss */
footer .m-footer > ul > li ul.links {
  list-style: disc;
}
/* line 512, ../sass/print.scss */
footer .m-footer > ul > li ul.social-icon {
  display: flex;
  flex-direction: row;
}
/* line 515, ../sass/print.scss */
footer .m-footer > ul > li ul.social-icon > li {
  padding: 0;
  overflow: hidden;
  background: url("../images/socialIcon_bottom.png") no-repeat scroll right center transparent;
  width: 32px;
  height: 30px;
  border: none;
}
/* line 523, ../sass/print.scss */
footer .m-footer > ul > li ul.social-icon li:nth-child(1) {
  background-position: 0 0;
}
/* line 526, ../sass/print.scss */
footer .m-footer > ul > li ul.social-icon li:nth-child(2) {
  background-position: -31px 0;
}
/* line 529, ../sass/print.scss */
footer .m-footer > ul > li ul.social-icon li:nth-child(3) {
  background-position: -63px 0;
}
/* line 532, ../sass/print.scss */
footer .m-footer > ul > li ul.social-icon li:nth-child(4) {
  background-position: -96px 0;
}
/* line 535, ../sass/print.scss */
footer .m-footer > ul > li ul.social-icon li:hover {
  cursor: pointer;
  background-position-y: -29px;
}
/* line 541, ../sass/print.scss */
footer .m-footer > ul > li:last-child {
  padding-right: 0;
}
/* line 544, ../sass/print.scss */
footer .m-footer > ul > li:nth-child(3) {
  font-style: normal;
}
/* line 548, ../sass/print.scss */
footer .m-footer > ul > li:nth-child(4) b {
  font-style: normal;
}
/* line 554, ../sass/print.scss */
footer .last-footer {
  background-color: #161616;
}
/* line 556, ../sass/print.scss */
footer .last-footer .cc {
  color: #fff;
  width: 80%;
  margin: auto;
  position: relative;
  padding: 22px 0;
}
/* line 562, ../sass/print.scss */
footer .last-footer .cc ul {
  display: flex;
  flex-direction: row;
  float: right;
}
/* line 566, ../sass/print.scss */
footer .last-footer .cc ul li {
  font-family: calibri;
  padding: 0 10px;
  font-size: 13px;
}
/* line 572, ../sass/print.scss */
footer .last-footer .cc p {
  font-size: 13px;
}

/* line 578, ../sass/print.scss */
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
