/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'calibri';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/calibri/calibri.ttf");
}

@font-face {
  font-family: 'calibri';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/calibri/calibrib.ttf");
}

@font-face {
  font-family: 'calibri';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/calibri/calibrii.ttf");
}

@font-face {
  font-family: 'calibri';
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/calibri/calibriz.ttf");
}

@font-face {
  font-family: 'georgia';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Georgia/georgia.ttf");
}

@font-face {
  font-family: 'georgia';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Georgia/georgiab.ttf");
}

@font-face {
  font-family: 'georgia';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/Georgia/georgiai.ttf");
}

@font-face {
  font-family: 'georgia';
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/Georgia/georgiaz.ttf");
}

@media (max-width: 1039px) {
  /* line 2, ../sass/media_tab.scss */
  body {
    width: 95%;
    margin: auto;
  }

  /* line 8, ../sass/media_tab.scss */
  header .m-logo {
    height: 40px;
    width: auto;
  }

  /* line 14, ../sass/media_tab.scss */
  nav ul {
    width: 100%;
  }
  /* line 16, ../sass/media_tab.scss */
  nav ul li {
    padding: 7px 14px;
    font-size: 13px;
  }

  /* line 22, ../sass/media_tab.scss */
  main {
    width: 100%;
  }
  /* line 24, ../sass/media_tab.scss */
  main .roller {
    width: 100%;
    height: auto;
  }
  /* line 27, ../sass/media_tab.scss */
  main .roller .content {
    width: 35%;
  }
  /* line 29, ../sass/media_tab.scss */
  main .roller .content p {
    font-size: 14px;
  }
  /* line 33, ../sass/media_tab.scss */
  main .roller .image-slot {
    width: 65%;
    background-image: url("../images/DSC_0266.jpeg");
    background-size: 171%;
    background-position: center;
  }
  /* line 38, ../sass/media_tab.scss */
  main .roller .image-slot .roller-slot {
    display: none;
  }
  /* line 45, ../sass/media_tab.scss */
  main .section-2 > div h2 {
    font-size: 24px;
  }
  /* line 51, ../sass/media_tab.scss */
  main .section-3 .students, main .section-3 .pub, main .section-3 .media {
    width: 33%;
  }
  /* line 53, ../sass/media_tab.scss */
  main .section-3 .students h2, main .section-3 .pub h2, main .section-3 .media h2 {
    font-size: 28px;
    padding: 6px 0px 0px 6px;
    width: 98%;
    margin-right: 12px;
  }
  /* line 62, ../sass/media_tab.scss */
  main .section-3 .students img, main .section-3 .pub img, main .section-3 .media img {
    width: 100px;
    height: auto;
    top: -26px;
  }

  /* line 70, ../sass/media_tab.scss */
  footer {
    width: 100%;
  }
}
@media (max-width: 1039px) and (max-width: 825px) {
  /* line 53, ../sass/media_tab.scss */
  main .section-3 .students h2, main .section-3 .pub h2, main .section-3 .media h2 {
    font-size: 20px;
  }
}
@media (max-width: 725px) and (min-width: 360px) {
  /* line 3, ../sass/media_mobile.scss */
  header .m-logo {
    height: 41px;
    width: auto;
    padding: 11px 0 0;
  }
  /* line 8, ../sass/media_mobile.scss */
  header ul {
    display: none;
  }
  /* line 11, ../sass/media_mobile.scss */
  header .menu-button {
    display: inline-block;
    float: right;
    position: relative;
    top: 18px;
    font-size: 16px;
    color: #a2a0a0;
  }
  /* line 19, ../sass/media_mobile.scss */
  header .search-bar {
    position: relative;
    top: 10px;
    border: none;
  }
  /* line 23, ../sass/media_mobile.scss */
  header .search-bar input[type=text] {
    display: none;
  }

  /* line 28, ../sass/media_mobile.scss */
  nav {
    display: none;
  }

  /* line 31, ../sass/media_mobile.scss */
  .active {
    display: flex;
    flex-direction: column;
    color: black;
    position: relative;
  }
  /* line 36, ../sass/media_mobile.scss */
  .active li {
    padding: 20px;
  }

  /* line 41, ../sass/media_mobile.scss */
  main .roller {
    flex-direction: column;
  }
  /* line 43, ../sass/media_mobile.scss */
  main .roller .content {
    width: 100%;
    height: 100%;
  }
  /* line 47, ../sass/media_mobile.scss */
  main .roller .image-slot {
    width: 100%;
  }
  /* line 49, ../sass/media_mobile.scss */
  main .roller .image-slot .roller-slot {
    width: 100%;
    display: block;
  }
  /* line 55, ../sass/media_mobile.scss */
  main .about {
    width: 100%;
  }
  /* line 58, ../sass/media_mobile.scss */
  main aside {
    display: none;
  }
  /* line 61, ../sass/media_mobile.scss */
  main .section-1 {
    flex-direction: column;
    height: 100%;
  }
  /* line 64, ../sass/media_mobile.scss */
  main .section-1 .grey-bar {
    width: 84%;
  }
  /* line 70, ../sass/media_mobile.scss */
  main .section-1 div {
    width: 100%;
  }
  /* line 72, ../sass/media_mobile.scss */
  main .section-1 div ul {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  /* line 76, ../sass/media_mobile.scss */
  main .section-1 div ul li {
    width: 27%;
  }
  /* line 78, ../sass/media_mobile.scss */
  main .section-1 div ul li .section-1-img {
    width: 120px;
    height: auto;
  }
  /* line 83, ../sass/media_mobile.scss */
  main .section-1 div ul li:nth-child(2) {
    width: 100%;
    border: none;
    padding-left: 20px;
  }
  /* line 88, ../sass/media_mobile.scss */
  main .section-1 div ul > li:nth-child(3) {
    display: none;
  }
  /* line 94, ../sass/media_mobile.scss */
  main .section-2 {
    flex-direction: column;
    height: 100%;
  }
  /* line 97, ../sass/media_mobile.scss */
  main .section-2 > div {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  /* line 102, ../sass/media_mobile.scss */
  main .section-2 > div ul li {
    box-shadow: inset 0 0 44px -10px rgba(0, 0, 0, 0.1);
  }
  /* line 105, ../sass/media_mobile.scss */
  main .section-2 > div ul li:last-child {
    display: none;
  }
  /* line 111, ../sass/media_mobile.scss */
  main .section-3 {
    flex-direction: column;
    height: 100%;
    padding-top: 27px;
  }
  /* line 117, ../sass/media_mobile.scss */
  main .section-3 .students,
  main .section-3 .pub,
  main .section-3 .media {
    width: 97%;
  }
  /* line 119, ../sass/media_mobile.scss */
  main .section-3 .students h2,
  main .section-3 .pub h2,
  main .section-3 .media h2 {
    box-shadow: inset 0 0 44px -10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 75px;
    font-size: 36px;
    padding: 18px 0 0 16px;
  }
  /* line 126, ../sass/media_mobile.scss */
  main .section-3 .students img,
  main .section-3 .pub img,
  main .section-3 .media img {
    width: 110px;
    top: -39px;
  }

  /* line 133, ../sass/media_mobile.scss */
  footer {
    height: auto;
  }
  /* line 135, ../sass/media_mobile.scss */
  footer > ul {
    height: auto;
    flex-wrap: wrap;
  }
  /* line 138, ../sass/media_mobile.scss */
  footer > ul > li {
    padding-right: 0;
    margin-right: 40px;
    margin-bottom: 25px;
  }
  /* line 143, ../sass/media_mobile.scss */
  footer > ul > li:first-child {
    width: 53%;
    border-right: 1px solid #fff;
  }
  /* line 147, ../sass/media_mobile.scss */
  footer > ul > li:nth-child(3) {
    width: 33%;
    border-right: 1px solid #fff;
  }
  /* line 151, ../sass/media_mobile.scss */
  footer > ul > li:nth-child(4) {
    width: 45%;
  }
  /* line 155, ../sass/media_mobile.scss */
  footer .cc {
    text-align: center;
  }
  /* line 157, ../sass/media_mobile.scss */
  footer .cc ul {
    clear: both;
  }
}
@media (max-width: 725px) and (min-width: 360px) and (max-width: 650px) {
  /* line 64, ../sass/media_mobile.scss */
  main .section-1 .grey-bar {
    width: 70%;
  }
}
