/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'calibri';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/calibri/calibri.ttf");
}

@font-face {
  font-family: 'calibri';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/calibri/calibrib.ttf");
}

@font-face {
  font-family: 'calibri';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/calibri/calibrii.ttf");
}

@font-face {
  font-family: 'calibri';
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/calibri/calibriz.ttf");
}

@font-face {
  font-family: 'georgia';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Georgia/georgia.ttf");
}

@font-face {
  font-family: 'georgia';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Georgia/georgiab.ttf");
}

@font-face {
  font-family: 'georgia';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/Georgia/georgiai.ttf");
}

@font-face {
  font-family: 'georgia';
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/Georgia/georgiaz.ttf");
}

/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 4, ../sass/print.scss */
body {
  max-width: 1024px;
  width: 100%;
  margin: auto;
}

/* line 11, ../sass/print.scss */
header .m-logo {
  height: 55px;
  width: auto;
  padding: 20px 0 0;
}
/* line 16, ../sass/print.scss */
header ul {
  text-align: right;
  font-family: 'calibri', serif;
}
/* line 19, ../sass/print.scss */
header ul li {
  text-transform: uppercase;
  font-size: 12px;
  color: #686868;
  display: inline-block;
}
/* line 24, ../sass/print.scss */
header ul li:hover {
  cursor: pointer;
}
/* line 28, ../sass/print.scss */
header ul > li:not(:last-child) {
  border-right: 1px solid #686868;
  padding: 0 8px;
}
/* line 33, ../sass/print.scss */
header .search-bar {
  float: right;
  position: relative;
  top: -72px;
  padding: 4px;
  border: 1px solid #DDDDDD;
  border-radius: 24px;
}
/* line 40, ../sass/print.scss */
header .search-bar input:focus {
  outline: 0;
}
/* line 43, ../sass/print.scss */
header .search-bar .text {
  border: none;
  border-style: none;
  border-color: transparent;
  padding: 4px;
}
/* line 49, ../sass/print.scss */
header .search-bar .button {
  background-image: url("../images/search_icon.png");
  background-color: #fff;
  border: none;
  position: relative;
  width: 24px;
  left: -4px;
  top: 3px;
}
/* line 57, ../sass/print.scss */
header .search-bar .button:hover {
  cursor: pointer;
}

/* line 65, ../sass/print.scss */
nav ul {
  text-align: center;
  font-family: 'calibri', serif;
  width: 100%;
  background-image: linear-gradient(180deg, #717171, #2c2c2c);
}
/* line 70, ../sass/print.scss */
nav ul li {
  padding: 10px 17px;
  text-transform: uppercase;
  font-size: 16px;
  margin-right: -4px;
  color: #fff;
  display: inline-block;
  border-right: 1px solid #fff;
}
/* line 78, ../sass/print.scss */
nav ul li:hover {
  background: #202020;
  cursor: pointer;
}
/* line 82, ../sass/print.scss */
nav ul li .dropdown {
  display: none;
  z-index: 999;
  background: #323232;
}
/* line 86, ../sass/print.scss */
nav ul li .dropdown li {
  display: block;
}

/* line 95, ../sass/print.scss */
main .roller {
  position: relative;
  width: 1024px;
  height: 435px;
  margin-top: 6px;
}
/* line 100, ../sass/print.scss */
main .roller .content {
  background: linear-gradient(135deg, #077ff8, #0f9fff);
  width: 386px;
  height: 423px;
  float: left;
  color: #fefefe;
  line-height: 1.4;
}
/* line 107, ../sass/print.scss */
main .roller .content h2 {
  font-size: 33px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  text-shadow: 2px 2px #555;
  padding: 50px 0px 13px 12px;
}
/* line 114, ../sass/print.scss */
main .roller .content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 5px 12px;
}
/* line 119, ../sass/print.scss */
main .roller .content a {
  color: #fff;
  padding: 15px 12px;
}
/* line 123, ../sass/print.scss */
main .roller .content .banner {
  display: block;
  padding: 15px 12px;
}
/* line 128, ../sass/print.scss */
main .roller .image-slot {
  width: 636px;
  height: 423px;
  float: right;
  display: inline-block;
  position: relative;
}
/* line 134, ../sass/print.scss */
main .roller .image-slot img {
  display: inline-block;
  width: 100%;
  height: auto;
}
/* line 141, ../sass/print.scss */
main .section-1 {
  height: 520px;
}
/* line 143, ../sass/print.scss */
main .section-1 .grey-bar {
  position: relative;
  top: -28px;
  display: inline;
  background-color: #EDEDED;
  height: 10px;
  float: right;
  width: 67%;
}
/* line 152, ../sass/print.scss */
main .section-1 div {
  position: relative;
  display: inline-block;
  width: 30%;
  margin-right: 5%;
  float: left;
}
/* line 158, ../sass/print.scss */
main .section-1 div h2 {
  font-family: calibri;
  font-weight: bold;
  color: #191b1b;
  font-size: 27px;
  padding: 10px 0px;
}
/* line 166, ../sass/print.scss */
main .section-1 div ul li {
  line-height: 1.4;
  padding-top: 15px;
}
/* line 169, ../sass/print.scss */
main .section-1 div ul li img {
  border-radius: 3px;
  width: 100%;
  height: auto;
}
/* line 174, ../sass/print.scss */
main .section-1 div ul li .small-icon {
  display: inline;
  width: 15px;
  height: auto;
}
/* line 179, ../sass/print.scss */
main .section-1 div ul li .date {
  font-family: georgia;
  margin-left: 20px;
  font-style: italic;
  font-size: 14px;
  color: #888;
}
/* line 186, ../sass/print.scss */
main .section-1 div ul li p {
  font-size: 15px;
  font-family: calibri;
  font-style: italic;
  color: #555;
}
/* line 193, ../sass/print.scss */
main .section-1 div ul > li:nth-child(2) {
  padding-bottom: 10px;
  border-bottom: 1px solid #888;
}
/* line 199, ../sass/print.scss */
main .section-1 .features {
  margin: 0px;
}
/* line 202, ../sass/print.scss */
main .section-1 .viewAll {
  text-align: right;
}
/* line 204, ../sass/print.scss */
main .section-1 .viewAll img {
  display: inline;
  width: 15px;
  height: auto;
}
/* line 211, ../sass/print.scss */
main .section-2 {
  padding-top: 15px;
  width: 100%;
  height: 280px;
}
/* line 216, ../sass/print.scss */
main .section-2 .alert h2 {
  background-image: url("../images/alert_ico.png");
  background-repeat: no-repeat;
  background-position: 8px 13px;
}
/* line 223, ../sass/print.scss */
main .section-2 .tv h2 {
  background-image: url("../images/testimonials_ico.png");
  background-repeat: no-repeat;
  background-position: 8px 13px;
}
/* line 230, ../sass/print.scss */
main .section-2 .learn h2 {
  background-image: url("../images/learnworkshop_ico.png");
  background-repeat: no-repeat;
  background-position: 8px 13px;
}
/* line 236, ../sass/print.scss */
main .section-2 > div {
  background-color: #0F9FFF;
  position: relative;
  border-radius: 5px;
  display: inline-block;
  width: 329px;
  margin-right: 18px;
  float: left;
}
/* line 244, ../sass/print.scss */
main .section-2 > div h2 {
  font-family: calibri;
  color: #fff;
  font-size: 27px;
  padding: 14px 39px;
}
/* line 250, ../sass/print.scss */
main .section-2 > div ul {
  width: 315px;
  margin: auto;
}
/* line 253, ../sass/print.scss */
main .section-2 > div ul li {
  background-color: #0096EA;
  margin: 10px 5px;
  padding: 5px 1px;
  border-radius: 5px;
}
/* line 258, ../sass/print.scss */
main .section-2 > div ul li .in-content {
  display: inline-block;
}
/* line 260, ../sass/print.scss */
main .section-2 > div ul li .in-content h3 {
  font-size: 14px;
  font-family: georgia;
  color: #fcfee9;
  font-style: italic;
  font-weight: bold;
  padding-left: 95px;
  padding-bottom: 10px;
}
/* line 269, ../sass/print.scss */
main .section-2 > div ul li .in-content img {
  width: 83px;
  height: 83px;
  float: left;
}
/* line 274, ../sass/print.scss */
main .section-2 > div ul li .in-content p {
  font-family: Helvetica;
  font-size: 12px;
  padding-left: 95px;
  color: #fff;
}
/* line 284, ../sass/print.scss */
main .section-2 > div:last-child {
  margin-right: 0px;
}
/* line 288, ../sass/print.scss */
main .section-3 {
  display: flex;
  flex-direction: row;
  padding-top: 45px;
  color: #fff;
}
/* line 293, ../sass/print.scss */
main .section-3 .students, main .section-3 .pub, main .section-3 .media {
  height: 123px;
}
/* line 295, ../sass/print.scss */
main .section-3 .students img, main .section-3 .pub img, main .section-3 .media img {
  float: right;
  position: relative;
  top: -50px;
  right: 11px;
}
/* line 301, ../sass/print.scss */
main .section-3 .students h2, main .section-3 .pub h2, main .section-3 .media h2 {
  font-family: calibri;
  font-weight: bold;
  font-size: 36px;
  padding: 10px 0px 0px 10px;
  height: 101px;
  width: 323px;
  margin-right: 12px;
  border-radius: 5px;
}
/* line 312, ../sass/print.scss */
main .section-3 .students h2 {
  background-color: #FF9500;
}
/* line 316, ../sass/print.scss */
main .section-3 .pub h2 {
  background-color: #EE4400;
}
/* line 319, ../sass/print.scss */
main .section-3 .pub img {
  width: 137px;
  top: -28px;
}
/* line 325, ../sass/print.scss */
main .section-3 .media h2 {
  background-color: #00C0F0;
}

/* line 334, ../sass/print.scss */
footer {
  width: 1024px;
  height: 252px;
  background-color: #262626;
  color: #fff;
  padding: 30px 0px;
  line-height: 1.4;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}
/* line 345, ../sass/print.scss */
footer h3 {
  font-family: calibri;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}
/* line 351, ../sass/print.scss */
footer > ul {
  width: 100%;
  height: 248px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
}
/* line 357, ../sass/print.scss */
footer > ul > li {
  max-width: 24%;
  padding-right: 40px;
  font-family: calibri;
  font-style: italic;
  font-size: 15px;
}
/* line 363, ../sass/print.scss */
footer > ul > li b {
  font-weight: bold;
}
/* line 366, ../sass/print.scss */
footer > ul > li a {
  text-decoration: none;
  color: #CE7E32;
}
/* line 370, ../sass/print.scss */
footer > ul > li ul {
  list-style: disc;
}
/* line 375, ../sass/print.scss */
footer .cc {
  padding: 22px 0px;
  background-color: #161616;
}
/* line 378, ../sass/print.scss */
footer .cc ul {
  display: flex;
  flex-direction: row;
  float: right;
}
/* line 382, ../sass/print.scss */
footer .cc ul li {
  font-family: calibri;
  padding: 0px 10px;
  font-size: 13px;
}
/* line 388, ../sass/print.scss */
footer .cc p {
  font-size: 13px;
}
